:root {
  font-size: 100%;
  font-family: 'covik sans demo', sans-serif;
  line-height: 1.4;
}

body {
  background: #111;
  color: lime;
  padding: 0 1rem;
}

h1 {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 600;
}
